body{
    color: rgb(44,44,44);
    font: 300 100%/1.5em 'Proxima Nova', helvetica, sans-serif;
    letter-spacing: .03em;
}


.navtop {
    padding: 1em;
    font-size: .8em;
}

.container {
    padding: 1em;
}

.footer {
    bottom: 0;
    padding: 1em;
    position: fixed;
    text-align: center;
    width: 100%;
}